##  Calculating amount

In [39]:
months = int(input("Enter remaining months : ") or "50" )
Amount = 1570309.93
#Amount = 100000

interest = 0.15 
EMI = 39590
for m in range(months)  : 
    int_amount =  ((Amount * interest)) / 12
    
    Amount = Amount - EMI + int_amount
    print("Month : " , m , "Amount = " , Amount)

Month :  0 Amount =  1550348.804125
Month :  1 Amount =  1530138.1641765626
Month :  2 Amount =  1509674.8912287697
Month :  3 Amount =  1488955.8273691293
Month :  4 Amount =  1467977.7752112434
Month :  5 Amount =  1446737.497401384
Month :  6 Amount =  1425231.7161189013
Month :  7 Amount =  1403457.1125703875
Month :  8 Amount =  1381410.3264775174
Month :  9 Amount =  1359087.9555584863
Month :  10 Amount =  1336486.5550029674
Month :  11 Amount =  1313602.6369405044
Month :  12 Amount =  1290432.6699022606
Month :  13 Amount =  1266973.0782760389
Month :  14 Amount =  1243220.2417544893
Month :  15 Amount =  1219170.4947764203
Month :  16 Amount =  1194820.1259611256
Month :  17 Amount =  1170165.3775356396
Month :  18 Amount =  1145202.444754835
Month :  19 Amount =  1119927.4753142705
Month :  20 Amount =  1094336.5687556989
Month :  21 Amount =  1068425.775865145
Month :  22 Amount =  1042191.0980634594
Month :  23 Amount =  1015628.4867892526
Month :  24 Amount =  988733.8428741182
Month :  25 Amount =  961503.0159100448
Month :  26 Amount =  933931.8036089203
Month :  27 Amount =  906015.9511540318
Month :  28 Amount =  877751.1505434571
Month :  29 Amount =  849133.0399252503
Month :  30 Amount =  820157.2029243159
Month :  31 Amount =  790819.1679608698
Month :  32 Amount =  761114.4075603808
Month :  33 Amount =  731038.3376548855
Month :  34 Amount =  700586.3168755715
Month :  35 Amount =  669753.6458365162
Month :  36 Amount =  638535.5664094726
Month :  37 Amount =  606927.260989591
Month :  38 Amount =  574923.8517519609
Month :  39 Amount =  542520.3998988605
Month :  40 Amount =  509711.9048975962
Month :  41 Amount =  476493.3037088162
Month :  42 Amount =  442859.4700051764
Month :  43 Amount =  408805.21338024107
Month :  44 Amount =  374325.2785474941
Month :  45 Amount =  339414.3445293378
Month :  46 Amount =  304067.0238359545
Month :  47 Amount =  268277.8616339039
Month :  48 Amount =  232041.33490432773
Month :  49 Amount =  195351.85159063182

In [41]:
months = int(input("Enter remaining months : ") or "45")
Amount = 1266973.0782760389
# Amount = 100000
payment = 0
interest = 0.15
EMI = 39590
for m in range(months):
    int_amount = ((Amount * interest)) / 12

    Amount = Amount - EMI + int_amount
    payment = payment + EMI
    print("Month : ", m, "Amount = ", Amount , "Payment : ", payment)

Month :  0 Amount =  1243220.2417544893 Payment :  39590
Month :  1 Amount =  1219170.4947764203 Payment :  79180
Month :  2 Amount =  1194820.1259611256 Payment :  118770
Month :  3 Amount =  1170165.3775356396 Payment :  158360
Month :  4 Amount =  1145202.444754835 Payment :  197950
Month :  5 Amount =  1119927.4753142705 Payment :  237540
Month :  6 Amount =  1094336.5687556989 Payment :  277130
Month :  7 Amount =  1068425.775865145 Payment :  316720
Month :  8 Amount =  1042191.0980634594 Payment :  356310
Month :  9 Amount =  1015628.4867892526 Payment :  395900
Month :  10 Amount =  988733.8428741182 Payment :  435490
Month :  11 Amount =  961503.0159100448 Payment :  475080
Month :  12 Amount =  933931.8036089203 Payment :  514670
Month :  13 Amount =  906015.9511540318 Payment :  554260
Month :  14 Amount =  877751.1505434571 Payment :  593850
Month :  15 Amount =  849133.0399252503 Payment :  633440
Month :  16 Amount =  820157.2029243159 Payment :  673030
Month :  17 Amount =  790819.1679608698 Payment :  712620
Month :  18 Amount =  761114.4075603808 Payment :  752210
Month :  19 Amount =  731038.3376548855 Payment :  791800
Month :  20 Amount =  700586.3168755715 Payment :  831390
Month :  21 Amount =  669753.6458365162 Payment :  870980
Month :  22 Amount =  638535.5664094726 Payment :  910570
Month :  23 Amount =  606927.260989591 Payment :  950160
Month :  24 Amount =  574923.8517519609 Payment :  989750
Month :  25 Amount =  542520.3998988605 Payment :  1029340
Month :  26 Amount =  509711.9048975962 Payment :  1068930
Month :  27 Amount =  476493.3037088162 Payment :  1108520
Month :  28 Amount =  442859.4700051764 Payment :  1148110
Month :  29 Amount =  408805.21338024107 Payment :  1187700
Month :  30 Amount =  374325.2785474941 Payment :  1227290
Month :  31 Amount =  339414.3445293378 Payment :  1266880
Month :  32 Amount =  304067.0238359545 Payment :  1306470
Month :  33 Amount =  268277.8616339039 Payment :  1346060
Month :  34 Amount =  232041.33490432773 Payment :  1385650
Month :  35 Amount =  195351.85159063182 Payment :  1425240
Month :  36 Amount =  158203.74973551472 Payment :  1464830
Month :  37 Amount =  120591.29660720866 Payment :  1504420
Month :  38 Amount =  82508.68781479876 Payment :  1544010
Month :  39 Amount =  43950.046412483745 Payment :  1583600
Month :  40 Amount =  4909.421992639792 Payment :  1623190
Month :  41 Amount =  -34619.21023245221 Payment :  1662780
Month :  42 Amount =  -74641.95036035786 Payment :  1702370
Month :  43 Amount =  -115164.97473986233 Payment :  1741960
Month :  44 Amount =  -156194.53692411058 Payment :  1781550

In [32]:
months = int(input("Enter remaining months : ") or "36")
Amount = 1200000
# Amount = 100000
receive = 0
interest = 0.071
EMI = 39590
for m in range(months):
    int_amount = ((Amount * interest)) / 12
    receive = receive + int_amount
    print("mpnth : ", m , "interest : " , int_amount , "Amount =" , receive) 
    
    #print("Month : ", m, "Amount = ", Amount)

mpnth :  0 interest :  7099.999999999999 Amount = 7099.999999999999
mpnth :  1 interest :  7099.999999999999 Amount = 14199.999999999998
mpnth :  2 interest :  7099.999999999999 Amount = 21299.999999999996
mpnth :  3 interest :  7099.999999999999 Amount = 28399.999999999996
mpnth :  4 interest :  7099.999999999999 Amount = 35499.99999999999
mpnth :  5 interest :  7099.999999999999 Amount = 42599.99999999999
mpnth :  6 interest :  7099.999999999999 Amount = 49699.99999999999
mpnth :  7 interest :  7099.999999999999 Amount = 56799.99999999999
mpnth :  8 interest :  7099.999999999999 Amount = 63899.99999999999
mpnth :  9 interest :  7099.999999999999 Amount = 70999.99999999999
mpnth :  10 interest :  7099.999999999999 Amount = 78099.99999999999
mpnth :  11 interest :  7099.999999999999 Amount = 85199.99999999999
mpnth :  12 interest :  7099.999999999999 Amount = 92299.99999999999
mpnth :  13 interest :  7099.999999999999 Amount = 99399.99999999999
mpnth :  14 interest :  7099.999999999999 Amount = 106499.99999999999
mpnth :  15 interest :  7099.999999999999 Amount = 113599.99999999999
mpnth :  16 interest :  7099.999999999999 Amount = 120699.99999999999
mpnth :  17 interest :  7099.999999999999 Amount = 127799.99999999999
mpnth :  18 interest :  7099.999999999999 Amount = 134899.99999999997
mpnth :  19 interest :  7099.999999999999 Amount = 141999.99999999997
mpnth :  20 interest :  7099.999999999999 Amount = 149099.99999999997
mpnth :  21 interest :  7099.999999999999 Amount = 156199.99999999997
mpnth :  22 interest :  7099.999999999999 Amount = 163299.99999999997
mpnth :  23 interest :  7099.999999999999 Amount = 170399.99999999997
mpnth :  24 interest :  7099.999999999999 Amount = 177499.99999999997
mpnth :  25 interest :  7099.999999999999 Amount = 184599.99999999997
mpnth :  26 interest :  7099.999999999999 Amount = 191699.99999999997
mpnth :  27 interest :  7099.999999999999 Amount = 198799.99999999997
mpnth :  28 interest :  7099.999999999999 Amount = 205899.99999999997
mpnth :  29 interest :  7099.999999999999 Amount = 212999.99999999997
mpnth :  30 interest :  7099.999999999999 Amount = 220099.99999999997
mpnth :  31 interest :  7099.999999999999 Amount = 227199.99999999997
mpnth :  32 interest :  7099.999999999999 Amount = 234299.99999999997
mpnth :  33 interest :  7099.999999999999 Amount = 241399.99999999997
mpnth :  34 interest :  7099.999999999999 Amount = 248499.99999999997
mpnth :  35 interest :  7099.999999999999 Amount = 255599.99999999997